*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:#0b0b0b;
    color:white;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

/* NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 8%;

    background:#111;

    position:fixed;

    width:100%;

    top:0;

    left:0;

    z-index:1000;

}

.logo{

    font-size:32px;

    font-weight:700;

    color:white;

}

.logo span{

    color:#ff3b30;

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    color:white;

    font-size:17px;

    transition:.3s;

}

.nav-links a:hover{

    color:#ff3b30;

}

.join-btn{

    background:#ff3b30;

    color:white;

    padding:12px 28px;

    border-radius:8px;

    transition:.3s;

}

.join-btn:hover{

    background:white;

    color:#111;

}

/* HERO */

.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:0 10%;

    background:
    linear-gradient(rgba(0,0,0,.70),
    rgba(0,0,0,.70)),
    url("assets/images/hero.jpg");

    background-size:cover;

    background-position:center;

}

.hero-content{

    max-width:850px;

}

.hero h3{

    color:#ff3b30;

    letter-spacing:4px;

    margin-bottom:20px;

}

.hero h1{

    font-size:68px;

    line-height:1.2;

    margin-bottom:25px;

}

.hero p{

    font-size:18px;

    color:#ddd;

    margin-bottom:40px;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.primary-btn{

    background:#ff3b30;

    color:white;

    padding:15px 35px;

    border-radius:8px;

}

.secondary-btn{

    border:2px solid white;

    color:white;

    padding:15px 35px;

    border-radius:8px;

}

.primary-btn:hover{

    background:white;

    color:#111;

}

.secondary-btn:hover{

    background:#ff3b30;

    border:none;

}
